# 忽略所有.log文件
*.log

# 忽略node_modules目录
node_modules/
dataset/
video/


# 忽略特定文件
secret.txt
.env
*.mp4
*.jpg
*.png

# 忽略IDE生成的文件（如VS Code）
.vscode/
*.sublime-project

# 忽略操作系统生成的文件
.DS_Store       # Mac
Thumbs.db       # Windows
# 忽略pycache目录
__pycache__/

